.booth {
	width: 400px;
	background: #ccc;
	border: 10px solid #ddd;
	margin: 0 auto;
}

#app {
	display: flex;
	text-align: center;
	width: 100%;
	min-width: 1260px;
}

.video {
	position: relative;
	display: block;
	width: 100%;
	flex: 0 1 100%;
}